body {
  background-image: url("../images/background.jpg");
  /*background: linear-gradient(black, white);*/
  background-size: 100%;
  background-color: black;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.above {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.below {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.dice-box {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 350px;
}

.button-box {
  display: flex;
  justify-content: center;
}

#dice-image {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}
#dice2-image {
  margin-left: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  border-radius: 25px;
}

.buttons {
  margin-left: 20px;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

.buttons:hover {
  background-color: grey;
  color: white;
}

#start-btn {
  background-color: grey;
}

#input-field {
  margin-left: 20px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

.container2 {
  margin-top: 50px;

  /*height: 80vh;*/
  background: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
  border-radius: 3px/6px;
}

.container {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
}

#player-1 {
  height: 150px;
  width: 300px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
}

#player-2 {
  margin-left: 20px;
  height: 150px;
  width: 300px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 20px;
}

/*.player-styling {
  font-weight:
}*/

#fails-player-1 {
  font-size: 50px;
}
#fails-player-2 {
  font-size: 50px;
}

.giraffe {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
}
